

<div id="login_code">

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  Username: <input name="username" type="text" id="username"><br>
  Password:  <input name="password" type="text" id="password"><br>
  <input type="submit" value='login'>
<% end %>

</div>
