<h1><%= "#{@car.user.username}'s #{@car.year} #{@car.display}" %></h1>
<%= (@car.avatar.attached?) ? (image_tag(@car.avatar.variant(resize: "300x300"))) : image_tag('/assets/placeholders/towing.gif') %><br>



images:<br>
<div class="images clearfix">


<% if @car.images.attached? == true  %>
    <% @car.images.each do |image| %>



       <%= image_tag(image.variant(resize: "400x400")) %>


    <% end %>
  <% end %>

</div>
<% if logged_user.id == @car.user_id %>
  <h3><%= link_to "Edit this car", edit_car_path(@car) %></h3>
<% end %>
